In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Data Collection

In [2]:
#Import TEDS-A 2014 Data
teds2014_csv = "Data/TEDS-A/TEDSA_2014.csv"
tedsa2014 = pd.read_csv(teds2014_csv, encoding='ISO-8859-1')

In [3]:
#Import TEDS-A 2015 Data
teds2015_csv = "Data/TEDS-A/TEDSA_2015.csv"
tedsa2015 = pd.read_csv(teds2015_csv, encoding='ISO-8859-1')

In [4]:
#Import TEDS-A 2016 Data
teds2016_csv = "Data/TEDS-A/TEDSA_2016.csv"
tedsa2016 = pd.read_csv(teds2016_csv, encoding='ISO-8859-1')

In [5]:
#Import TEDS-A 2017 Data
teds2017_csv = "Data/TEDS-A/TEDSA_2017.csv"
tedsa2017 = pd.read_csv(teds2017_csv, encoding='ISO-8859-1')

In [6]:
#Import TEDS-A 2018 Data
teds2018_csv = "Data/TEDS-A/TEDSA_2018.csv"
tedsa2018 = pd.read_csv(teds2018_csv, encoding='ISO-8859-1')

## Data Cleaning

#### 2014 TEDSA Data

In [55]:
#Remove Extraneous Columns
data_2014 = tedsa2014[['STFIPS', 'YEAR', 'SUB1', 'AGE', 'GENDER', 'RACE']]

In [56]:
#Rename Column
data_2014 = data_2014.rename(columns = {'STFIPS' : 'STATE','GENDER' : 'SEX'})

In [57]:
#Remove Rows w/o an Opioid as Primary Substance
OUD_2014 = data_2014.loc[(data_2014['SUB1'] == 5) | (data_2014['SUB1'] == 6) | (data_2014['SUB1'] == 7)]
OUD_2014.reset_index(inplace = True, drop = True)

In [58]:
#Recoding Census State FIPS Code to State Abbreviation
OUD_2014 = OUD_2014.replace({'STATE':{1:'AL', 2:'AK', 4:'AZ', 5:'AR', 6:'CA', 8:'CO', 9:'CT', 10:'DE', 11:'DC', 12:'FL',
                                      13:'GA', 15:'HI', 16:'ID', 17:'IL', 18:'IN', 19:'IA', 20:'KS', 21:'KY', 22:'LA', 23:'ME',
                                      24:'MD', 25:'MA', 26:'MI', 27:'MN', 28:'MS', 29:'MO', 30:'MT', 31:'NE', 32:'NV', 33:'NH',
                                      34:'NJ', 35:'NM', 36:'NY', 37:'NC', 38:'ND', 39:'OH', 40:'OK', 41:'OR', 42:'PA', 44:'RI',
                                      46:'SD', 47:'TN', 48:'TX', 49:'UT', 50:'VT', 51:'VA', 53:'WA', 54:'WV', 55:'WI', 56:'WY',
                                      72:'PR'}})

In [59]:
#Recoding Age Code to Age Categories
OUD_2014 = OUD_2014.replace({'AGE':{2:'12-14 years', 3:'15-17 years', 4:'18-20 years', 5:'21-24 years', 6:'25-29 years',
                                  7:'30-34 years', 8:'35-39 years', 9:'40-44 years', 10:'45-49 years', 11:'50-54 years',
                                  12:'55 and over'}})

In [60]:
#Recoding Sex Code to Sex Categories
OUD_2014 = OUD_2014.replace({'SEX':{1:'M', 2:'F', -9:'Missing'}})

In [61]:
#Recoding Race Code to Race Categories
OUD_2014 = OUD_2014.replace({'RACE':{1:'Alaskan Native', 2:'American Indian', 3:'Asian or Pacific Islander', 4:'Black or African American',
                                     5:'White', 13:'Asian', 20:'Other Single Race', 21:'Two or More Races', 23:'Native Hawaiian or Other Pacific Islander',
                                     -9:'Missing'}})

#### 2015 TEDSA Data

In [62]:
#Remove Extraneous Columns
data_2015 = tedsa2015[['STFIPS', 'YEAR', 'SUB1', 'AGE', 'GENDER', 'RACE']]

In [63]:
#Rename Columns
data_2015 = data_2015.rename(columns = {'STFIPS' : 'STATE', 'GENDER' : 'SEX'})

In [64]:
#Remove Rows w/o an Opioid as Primary Substance
OUD_2015 = data_2015.loc[(data_2015['SUB1'] == 5) | (data_2015['SUB1'] == 6) | (data_2015['SUB1'] == 7)]
OUD_2015.reset_index(inplace = True, drop = True)

In [65]:
#Recoding Census State FIPS Code to State Abbreviation
OUD_2015 = OUD_2015.replace({'STATE':{1:'AL', 2:'AK', 4:'AZ', 5:'AR', 6:'CA', 8:'CO', 9:'CT', 10:'DE', 11:'DC', 12:'FL',
                                      13:'GA', 15:'HI', 16:'ID', 17:'IL', 18:'IN', 19:'IA', 20:'KS', 21:'KY', 22:'LA', 23:'ME',
                                      24:'MD', 25:'MA', 26:'MI', 27:'MN', 28:'MS', 29:'MO', 30:'MT', 31:'NE', 32:'NV', 33:'NH',
                                      34:'NJ', 35:'NM', 36:'NY', 37:'NC', 38:'ND', 39:'OH', 40:'OK', 41:'OR', 42:'PA', 44:'RI',
                                      46:'SD', 47:'TN', 48:'TX', 49:'UT', 50:'VT', 51:'VA', 53:'WA', 54:'WV', 55:'WI', 56:'WY',
                                      72:'PR'}})

In [66]:
#Recoding Age Code to Age Categories
OUD_2015 = OUD_2015.replace({'AGE':{2:'12-14 years', 3:'15-17 years', 4:'18-20 years', 5:'21-24 years', 6:'25-29 years',
                                  7:'30-34 years', 8:'35-39 years', 9:'40-44 years', 10:'45-49 years', 11:'50-54 years',
                                  12:'55 and over'}})

In [67]:
#Recoding Sex Code to Sex Categories
OUD_2015 = OUD_2015.replace({'SEX':{1:'M', 2:'F', -9:'Missing'}})

In [68]:
#Recoding Race Code to Race Categories
OUD_2015 = OUD_2015.replace({'RACE':{1:'Alaskan Native', 2:'American Indian', 3:'Asian or Pacific Islander', 4:'Black or African American',
                                     5:'White', 13:'Asian', 20:'Other Single Race', 21:'Two or More Races', 23:'Native Hawaiian or Other Pacific Islander',
                                     -9:'Missing'}})

#### 2016 TEDSA Data

In [69]:
#Remove Extraneous Columns
data_2016 = tedsa2016[['STFIPS', 'YEAR', 'SUB1', 'AGE', 'SEX', 'RACE']]

In [70]:
#Rename Columns
data_2016 = data_2016.rename(columns = {'STFIPS' : 'STATE'})

In [71]:
#Remove Rows w/o an Opioid as Primary Substance
OUD_2016 = data_2016.loc[(data_2016['SUB1'] == 5) | (data_2016['SUB1'] == 6) | (data_2016['SUB1'] == 7)]
OUD_2016.reset_index(inplace = True, drop = True)

In [72]:
#Recoding Census State FIPS Code to State Abbreviation
OUD_2016 = OUD_2016.replace({'STATE':{1:'AL', 2:'AK', 4:'AZ', 5:'AR', 6:'CA', 8:'CO', 9:'CT', 10:'DE', 11:'DC', 12:'FL',
                                      13:'GA', 15:'HI', 16:'ID', 17:'IL', 18:'IN', 19:'IA', 20:'KS', 21:'KY', 22:'LA', 23:'ME',
                                      24:'MD', 25:'MA', 26:'MI', 27:'MN', 28:'MS', 29:'MO', 30:'MT', 31:'NE', 32:'NV', 33:'NH',
                                      34:'NJ', 35:'NM', 36:'NY', 37:'NC', 38:'ND', 39:'OH', 40:'OK', 41:'OR', 42:'PA', 44:'RI',
                                      46:'SD', 47:'TN', 48:'TX', 49:'UT', 50:'VT', 51:'VA', 53:'WA', 54:'WV', 55:'WI', 56:'WY',
                                      72:'PR', 45:'SC'}})

In [73]:
#Recoding Age Code to Age Categories
OUD_2016 = OUD_2016.replace({'AGE':{1:'12-14 years', 2:'15-17 years', 3:'18-20 years', 4:'21-24 years', 5:'25-29 years',
                                  6:'30-34 years', 7:'35-39 years', 8:'40-44 years', 9:'45-49 years', 10:'50-54 years',
                                  11:'55-64 years', 12:'65 and over'}})

In [74]:
#Recoding Sex Code to Sex Categories
OUD_2016 = OUD_2016.replace({'SEX':{1:'M', 2:'F', -9:'Missing'}})

In [75]:
#Recoding Race Code to Race Categories
OUD_2016 = OUD_2016.replace({'RACE':{1:'Alaskan Native', 2:'American Indian', 3:'Asian or Pacific Islander', 4:'Black or African American',
                                     5:'White', 6:'Asian', 7:'Other Single Race', 8:'Two or More Races', 9:'Native Hawaiian or Other Pacific Islander',
                                     -9:'Missing'}})

#### 2017 TEDSA Data

In [76]:
#Remove Extraneous Columns
data_2017 = tedsa2017[['STFIPS', 'ADMYR', 'SUB1', 'AGE', 'GENDER', 'RACE']]

In [77]:
#Rename Columns
data_2017 = data_2017.rename(columns = {'ADMYR' : 'YEAR','STFIPS' : 'STATE','GENDER' : 'SEX'})

In [78]:
#Remove Rows w/o an Opioid as Primary Substance
OUD_2017 = data_2017.loc[(data_2017['SUB1'] == 5) | (data_2017['SUB1'] == 6) | (data_2017['SUB1'] == 7)]
OUD_2017.reset_index(inplace = True, drop = True)

In [79]:
#Recoding Census State FIPS Code to State Abbreviation
OUD_2017 = OUD_2017.replace({'STATE':{1:'AL', 2:'AK', 4:'AZ', 5:'AR', 6:'CA', 8:'CO', 9:'CT', 10:'DE', 11:'DC', 12:'FL',
                                      13:'GA', 15:'HI', 16:'ID', 17:'IL', 18:'IN', 19:'IA', 20:'KS', 21:'KY', 22:'LA', 23:'ME',
                                      24:'MD', 25:'MA', 26:'MI', 27:'MN', 28:'MS', 29:'MO', 30:'MT', 31:'NE', 32:'NV', 33:'NH',
                                      34:'NJ', 35:'NM', 36:'NY', 37:'NC', 38:'ND', 39:'OH', 40:'OK', 41:'OR', 42:'PA', 44:'RI',
                                      46:'SD', 47:'TN', 48:'TX', 49:'UT', 50:'VT', 51:'VA', 53:'WA', 54:'WV', 55:'WI', 56:'WY',
                                      72:'PR', 45:'SC'}})

In [80]:
#Recoding Age Code to Age Categories
OUD_2017 = OUD_2017.replace({'AGE':{1:'12-14 years', 2:'15-17 years', 3:'18-20 years', 4:'21-24 years', 5:'25-29 years',
                                  6:'30-34 years', 7:'35-39 years', 8:'40-44 years', 9:'45-49 years', 10:'50-54 years',
                                  11:'55-64 years', 12:'65 and over'}})

In [81]:
#Recoding Sex Code to Sex Categories
OUD_2017 = OUD_2017.replace({'SEX':{1:'M', 2:'F', -9:'Missing'}})

In [82]:
#Recoding Race Code to Race Categories
OUD_2017 = OUD_2017.replace({'RACE':{1:'Alaskan Native', 2:'American Indian', 3:'Asian or Pacific Islander', 4:'Black or African American',
                                     5:'White', 6:'Asian', 7:'Other Single Race', 8:'Two or More Races', 9:'Native Hawaiian or Other Pacific Islander',
                                     -9:'Missing'}})

#### 2018 TEDSA Data

In [83]:
#Remove Extraneous Columns
data_2018 = tedsa2018[['STFIPS', 'ADMYR', 'SUB1', 'AGE', 'GENDER', 'RACE']]

In [84]:
#Rename Columns
data_2018 = data_2018.rename(columns = {'ADMYR' : 'YEAR','STFIPS' : 'STATE','GENDER' : 'SEX'})

In [85]:
#Remove Rows w/o an Opioid as Primary Substance
OUD_2018 = data_2018.loc[(data_2018['SUB1'] == 5) | (data_2018['SUB1'] == 6) | (data_2018['SUB1'] == 7)]
OUD_2018.reset_index(inplace = True, drop = True)

In [86]:
#Recoding Census State FIPS Code to State Abbreviation
OUD_2018 = OUD_2018.replace({'STATE':{1:'AL', 2:'AK', 4:'AZ', 5:'AR', 6:'CA', 8:'CO', 9:'CT', 10:'DE', 11:'DC', 12:'FL',
                                      13:'GA', 15:'HI', 16:'ID', 17:'IL', 18:'IN', 19:'IA', 20:'KS', 21:'KY', 22:'LA', 23:'ME',
                                      24:'MD', 25:'MA', 26:'MI', 27:'MN', 28:'MS', 29:'MO', 30:'MT', 31:'NE', 32:'NV', 33:'NH',
                                      34:'NJ', 35:'NM', 36:'NY', 37:'NC', 38:'ND', 39:'OH', 40:'OK', 41:'OR', 42:'PA', 44:'RI',
                                      46:'SD', 47:'TN', 48:'TX', 49:'UT', 50:'VT', 51:'VA', 53:'WA', 54:'WV', 55:'WI', 56:'WY',
                                      72:'PR', 45:'SC'}})

In [87]:
#Recoding Age Code to Age Categories
OUD_2018 = OUD_2018.replace({'AGE':{1:'12-14 years', 2:'15-17 years', 3:'18-20 years', 4:'21-24 years', 5:'25-29 years',
                                  6:'30-34 years', 7:'35-39 years', 8:'40-44 years', 9:'45-49 years', 10:'50-54 years',
                                  11:'55-64 years', 12:'65 and over'}})

In [88]:
#Recoding Sex Code to Sex Categories
OUD_2018 = OUD_2018.replace({'SEX':{1:'M', 2:'F', -9:'Missing'}})

In [89]:
#Recoding Race Code to Race Categories
OUD_2018 = OUD_2018.replace({'RACE':{1:'Alaskan Native', 2:'American Indian', 3:'Asian or Pacific Islander', 4:'Black or African American',
                                     5:'White', 6:'Asian', 7:'Other Single Race', 8:'Two or More Races', 9:'Native Hawaiian or Other Pacific Islander',
                                     -9:'Missing'}})

#### Concatenated TEDSA 2014-2018 Data

In [90]:
#Concatenating 2014-2018 Dataframes
frames = [OUD_2014, OUD_2015, OUD_2016, OUD_2017, OUD_2018,]

concat = pd.concat(frames)

In [91]:
#Drop SUB1 Column
OUD_5year = concat[['STATE', 'YEAR', 'AGE', 'SEX', 'RACE']]

In [92]:
OUD_5year['YEAR'] = OUD_5year.YEAR.astype('str')

C:\Users\T\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
#Reset Index
OUD_5year.reset_index(inplace = True, drop = True)

## Export to Database

In [45]:
#Connect to Database
rds_connection_string = "postgres:Nvrknwsbst7@localhost:5432/Project_2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [46]:
#Create Connection Variable 
conn = engine.connect()

In [94]:
#Export Dataframes to Database
OUD_5year.to_sql(name='OUD_data', con=engine, if_exists='append', index=True)

In [95]:
#Check Database Contents
engine.table_names()

['OUD_data']